In [1]:
# Import the Pandas library


import sys

sys.path.append('../')

from models.random_forest import RandomForest

model = RandomForest()
path = "../.test_data/more_data.xlsx"

coded_df = model.process_excel(path)


print(coded_df.info())
coded_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3070 entries, 0 to 3069
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME                 3070 non-null   object
 1   date                 3070 non-null   int64
 2   color_and_value      3070 non-null   object
 3   name_code            3070 non-null   int64
 4   day_of_month         3070 non-null   int32
 5   day_of_week          3070 non-null   int32
 6   date_code            3070 non-null   int64
 7   day_of_year          3070 non-null   int64
 8   value                3070 non-null   float64
 9   color                3070 non-null   object
 10  extra                3070 non-null   float64
 11  color_code           3070 non-null   int64
 12  next_color_code      3060 non-null   float64
 13  previous_color_code  3060 non-null   float64
 14  color_binary         3070 non-null   int64
 15  next_color_binary    3060 non-null   float64
dtypes: float64(5), int32(2), int64(6), object(3)
memory usage: 359.9+ KB
None

,NAME,date,color_and_value,name_code,day_of_month,day_of_week,date_code,day_of_year,value,color,extra,color_code,next_color_code,previous_color_code,color_binary,next_color_binary
0,GJ1,1735257600000000000,28.26107 | A9D08E | 214257094,1,27,4,0,362,28.261070,A9D08E,214257094.0,0,3.0,NaN,0,0.0
1,GJ2,1735257600000000000,47.95346 | A9D08E | 229631139,2,27,4,0,362,47.953460,A9D08E,229631139.0,0,3.0,NaN,0,0.0
2,GJ3,1735257600000000000,78.28529 | 9BC2E6 | 1804911,3,27,4,0,362,78.285290,9BC2E6,1804911.0,1,0.0,NaN,1,0.0
3,GJ4,1735257600000000000,47.75716 | A9D08E | 4872234,4,27,4,0,362,47.757160,A9D08E,4872234.0,0,3.0,NaN,0,0.0
4,GJ5,1735257600000000000,16.25788 | A9D08E | 226485,5,27,4,0,362,16.257880,A9D08E,226485.0,0,1.0,NaN,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3065,GJ6,1710979200100000000,-3.37228 | A9D08E | 818910,6,21,3,306,81,-3.372280,A9D08E,818910.0,0,NaN,0.0,0,NaN
3066,GJ7,1710979200100000000,9.934678 | 8EA9DB | 12619644,7,21,3,306,81,9.934678,8EA9DB,12619644.0,5,NaN,5.0,1,NaN
3067,GJ8,1710979200100000000,71.90722 | 8EA9DB | 790885,8,21,3,306,81,71.907220,8EA9DB,790885.0,5,NaN,2.0,1,NaN
3068,GJ9,1710979200100000000,-7.564 | FFFF00 | 723724,9,21,3,306,81,-7.564000,FFFF00,723724.0,3,NaN,0.0,0,NaN
3069,GJ10,1710979200100000000,-1.27171 | A9D08E | 1490831,10,21,3,306,81,-1.271710,A9D08E,1490831.0,0,NaN,0.0,0,NaN

In [2]:
coded_df['color'].factorize()

(array([0, 0, 1, ..., 5, 3, 0]),
 Index(['A9D08E', '9BC2E6', 'FFC000', 'FFFF00', 'D5A6BD', '8EA9DB', 'FF0000'], dtype='object'))

In [3]:
model.last_df

   NAME          2024-03-21 00:00:00.1
0   GJ1  30.03568 | A9D08E | 312414696
1   GJ2  2.094856 | A9D08E | 210365443
2   GJ3     58.06887 | FFFF00 | 966481
3   GJ4    67.26261 | FFFF00 | 2772098
4   GJ5     3.504408 | A9D08E | 413963
5   GJ6     -3.37228 | A9D08E | 818910
6   GJ7   9.934678 | 8EA9DB | 12619644
7   GJ8     71.90722 | 8EA9DB | 790885
8   GJ9       -7.564 | FFFF00 | 723724
9  GJ10    -1.27171 | A9D08E | 1490831

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split



# Splitting the dataset into the Training set and Test set
X, y = model.train_test_split(coded_df)


X.shape, y.shape

((3050, 5), (3050,))

In [5]:

model.fit(X, y)

print(f'mse : {model.mse}' )
print(f'accuracy: {model.accuracy}' )
print(f'preferred_accuracy: {model.preferred_accuracy}' )

print(f'predictions_count: {model.predictions_count}   in {model.y_test_count}' )


prob = coded_df[coded_df['color_binary'] == 1].shape[0] / coded_df.shape[0]

print(f'real prob: {prob}' )

mse : 0.4360655737704918
accuracy: 0.5639344262295082
preferred_accuracy: 0.5749235474006116
predictions_count: 327   in 315
real prob: 0.5107491856677524

In [6]:

df = model.predict_last()
df

,NAME,2024-03-21 00:00:00.1,color_and_value,next_color_code
0,GJ1,30.03568 | A9D08E | 312414696,30.03568 | A9D08E | 312414696,1.0
1,GJ2,2.094856 | A9D08E | 210365443,2.094856 | A9D08E | 210365443,1.0
2,GJ3,58.06887 | FFFF00 | 966481,58.06887 | FFFF00 | 966481,1.0
3,GJ4,67.26261 | FFFF00 | 2772098,67.26261 | FFFF00 | 2772098,1.0
4,GJ5,3.504408 | A9D08E | 413963,3.504408 | A9D08E | 413963,1.0
5,GJ6,-3.37228 | A9D08E | 818910,-3.37228 | A9D08E | 818910,1.0
6,GJ7,9.934678 | 8EA9DB | 12619644,9.934678 | 8EA9DB | 12619644,1.0
7,GJ8,71.90722 | 8EA9DB | 790885,71.90722 | 8EA9DB | 790885,1.0
8,GJ9,-7.564 | FFFF00 | 723724,-7.564 | FFFF00 | 723724,0.0
9,GJ10,-1.27171 | A9D08E | 1490831,-1.27171 | A9D08E | 1490831,0.0

In [7]:

print(df[(df['next_color_code'] != 0)  ].shape)
df[(df['next_color_code'] != 0) ]

(8, 4)

,NAME,2024-03-21 00:00:00.1,color_and_value,next_color_code
0,GJ1,30.03568 | A9D08E | 312414696,30.03568 | A9D08E | 312414696,1.0
1,GJ2,2.094856 | A9D08E | 210365443,2.094856 | A9D08E | 210365443,1.0
2,GJ3,58.06887 | FFFF00 | 966481,58.06887 | FFFF00 | 966481,1.0
3,GJ4,67.26261 | FFFF00 | 2772098,67.26261 | FFFF00 | 2772098,1.0
4,GJ5,3.504408 | A9D08E | 413963,3.504408 | A9D08E | 413963,1.0
5,GJ6,-3.37228 | A9D08E | 818910,-3.37228 | A9D08E | 818910,1.0
6,GJ7,9.934678 | 8EA9DB | 12619644,9.934678 | 8EA9DB | 12619644,1.0
7,GJ8,71.90722 | 8EA9DB | 790885,71.90722 | 8EA9DB | 790885,1.0